body {
  margin: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#bunny-canvas {
  background: linear-gradient(#87ceeb, #ffffff);
}