html,body{
    margin:0;
    padding:0;
    overflow:hidden;
    font-family:Arial,Helvetica,sans-serif;
}

/* ARXA FON */
#bg{
    position:fixed;
    inset:0;
    z-index:-10;
    background:
        linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.7)),
        url("background.jpg") center/cover no-repeat;
}

/* DAVAM ET */
#startOverlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.85);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:100;
}

#continueBtn{
    width:140px;
    height:140px;
    border-radius:50%;
    border:none;
    background:#ff2e63;
    color:white;
    font-size:22px;
    font-weight:bold;
    cursor:pointer;
    box-shadow:0 0 30px rgba(255,46,99,.8);
    animation:pulse 1.5s infinite;
}

@keyframes pulse{
    0%{transform:scale(1)}
    50%{transform:scale(1.12)}
    100%{transform:scale(1)}
}

/* TOP WORD */
#topWord{
    position:fixed;
    top:20px;
    width:100%;
    text-align:center;
    font-size:64px;
    letter-spacing:14px;
    color:#ff4fd8;
    text-shadow:0 0 15px #ff4fd8,0 0 40px #ff4fd8;
    z-index:10;
}

#game{
    width:100vw;
    height:100vh;
    position:relative;
}

/* HEART */
#heart{
    position:absolute;
    bottom:180px;
    width:130px;
    left:50%;
    transform:translateX(-50%);
    touch-action:none;
}

/* LETTER */
.letter{
    position:absolute;
    font-size:56px;
    font-weight:900;
    color:white;
    text-shadow:0 0 12px #ff4fd8,0 0 30px #ff4fd8;
    animation:fall linear;
}

@keyframes fall{
    from{transform:translateY(-100px)}
    to{transform:translateY(110vh)}
}

/* CANVAS */
canvas{
    position:fixed;
    inset:0;
    pointer-events:none;
}

/* WIN / LOSE */
#endScreen,#loseScreen{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.8);
    display:none;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:50;
}

#loveText,#loseText{
    font-size:64px;
    color:#fff;
    margin-bottom:30px;
    text-shadow:0 0 15px #ff4fd8,0 0 40px #ff4fd8;
    animation:pulse 1.5s infinite;
}

#endButtons button{
    font-size:20px;
    padding:12px 30px;
    margin:10px;
    border:none;
    border-radius:30px;
    cursor:pointer;
    background:#ff4fd8;
    color:#000;
    font-weight:bold;
}